body{
    background: #F5F6FA;
}
#all-container {
    position: fixed;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%); 
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 57.875rem;
    height: 43.5rem;
    border-radius: 1.875rem;
    background: #fff;
    box-shadow: var(--shadow1);
    z-index: 100;
}

.introduce-container{
    display: flex; 
    flex-direction: column;
    gap: 0.79rem;
}
.introduce1{
    color: var(--color4);
    font-size: 2.37369rem;
    font-weight: 600;
    text-align: center;
}

.introduce2{
    color: #AEAEAE;;
    font-size: 1.09556rem;
    font-weight: 400;
    text-align: center;
}
#select-container{
    display: flex;
    justify-content: center;
    column-gap: 0.99rem;
    width: 100%;
    cursor: pointer;
}
.account{
    width: 12.25rem;
    height: 12.1875rem;
    border-radius: 1.09556rem;
    background: var(--color10);
    color: var(--color1);
    font-size: 1.36944rem;
    font-weight: 600;
    margin-top: 5.4rem;
    transition: border-color 0.3s, background-color 0.3s;

    display: flex;  
    flex-direction: column;  
    align-items: flex-start;  
    position: relative;  
}
 
.teacher, .student, .admin{
    margin: 1.55rem 0 0 1.73rem;
}
.logo{
    position: absolute;  
    right: 0; /* 오른쪽으로 배치 */
    bottom: 0; /* 아래쪽으로 배치 */
    margin: 0 1.73rem 1.64rem 0;
}
 
 
.finish{
    padding: 0.75rem 1.5625rem;
    border-radius: 3.5605rem;
    background-color: #fff;
    border: 1.461px solid var(--color1);
    color: var(--color1);
    font-size: 1.36944rem;
    font-weight: 500;
    margin-top: 5.4rem;
    cursor: pointer;
}

.finish:hover{
    background-color: #f7f6f9;
}
.account:hover {
    background-color: #f9f9f9;
}

.account.selected {
    
    background-color: #f9f9f9;
    border: 1px solid #b6bfd6;
}
 




