body {
    background: #F5F6FA;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 9rem 0;
}

.all-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 57.875rem;
    height: 43.5rem;
    box-shadow: var(--shadow1);
    border-radius: 1.875rem;
    background-color: #fff;
}

.title-container {
    display: flex;
}

.joinus-title {
    color: var(--color4);
    font-size: 1.96594rem;
    font-weight: 800;
    margin-top: 10px;
    cursor: pointer;
}

.language-container {
    width: 21.5rem;
    height: 1.875rem;
    border-radius: 0.375rem;
    background: var(--color9);
    display: flex;
    column-gap: 4.53rem;
    margin: 3.06rem 0 0.94rem 0;
}

.language {
    margin: 0.5rem 0;
    color: var(--color1);
    font-size: 0.75rem;
    font-weight: 400;
}

.korean {
    margin: 0.5rem 0 0 4.25rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.field {
    width: 21.75rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    border: 1.8px solid #ACCDFF;
    background: #FFF;
    outline: none;
    padding-left: 1.37rem;
}

input::placeholder {
    color: #D2CFCF;
    font-family: Pretendard;
    font-size: 1rem;
    font-weight: 600;
}

.options {
    display: flex;
    justify-content: flex-end;
    column-gap: 0.5rem;
    margin: 0.69rem 0 2.87rem 0;
}

.option {
    color: var(--color6);
    font-size: 0.75rem;
    font-weight: 600;
}

.button-wrapper {
    display: flex;
    justify-content: center;
}

.login-button {
    width: 10.4375rem;
    height: 3rem;
    border-radius: 2.0625rem;
    background: var(--color1);
    border: none;
    color: #FFF;
    font-size: var(--font-size2);
    font-weight: 700;
    cursor: pointer;
}

.lines {
    display: flex;
    column-gap: 1.69rem;
    margin: 3.19rem 0 0 0;
}

.line {
    width: 10.25rem;
    height: 0.1125rem;
    background: #ECECEC;
}

.guide-message {
    color: var(--color6);
    font-size: var(--font-size1);
    font-weight: 600;
    margin-top: -9px;
    white-space: nowrap;
}

.googlelogin-container {
    display: flex;
    margin-top: 2.44rem;
    column-gap: 3.27rem;
    width: 21.75rem;
    height: 3.25rem;
    border-radius: 0.5rem;
    background: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.06);
}

.google-login {
    color: #AAA;
    font-size: var(--font-size3);
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

.google {
    margin-top: 1rem;
}

.google-logo {
    width: 1.10506rem;
    height: 1.125rem;
    margin-left: 1.06rem;
}
